#cont2{
position: relative;
padding-top: 20px;
background: #DDDCE2 url('../../recursos/img/content_bg.jpg') repeat left top;
-webkit-font-smoothing: antialiased;
font-size: 14px;
font-family: 'Lato', sans-serif !important;
color: #333;

}
#derecha{
	
height:250px;	
}

.headera{
text-align: left;
width: 10%;
float: left;
	
}
.headerb{
text-align: left;
width: 80%;
float: left;
	
	
}
.headerc{
text-align: left;
width: 10%;
float: left;
	
	
}
.headerg img{
	
	height:70px;
}
.navbar-fixed-top {
    margin-bottom: 0;
}
.navbar-fixed-top.scroll {
    opacity: 0.90;
}
.squares{
	
height:230px;	
	
	
}


.contenthover {
	 padding:1px 1px 1px 1px;
}
.contenthover, .contenthover h3, contenthover a { 
	color:#fff; 
}
.contenthover h4, .contenthover p { 
	margin:0 0 2px 0; 
	line-height:1.4em;
	padding:0; 
	text-align:justify;
	 -moz-border-radius: 4px; 
	 -webkit-border-radius: 4px;
	  border-radius: 4px; 
 }
.contenthover a.mybutton {
	 display:block;
	 float:left;
	 padding:2px 5px; 
	 background:#3c9632; 
	 color:#fff; 
	 -moz-border-radius: 4px; 
	 -webkit-border-radius: 4px;
	  border-radius: 4px; 
}
.contenthover a.mybutton:hover {
	 background:#34742d; 
	}
	
 .marco{ 
 border: 1px solid #000000;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
padding: 1px;
}
.scrolltop {
	background-color: #F1F1F1;
	border: 1px solid darkGray;
	border-radius: 100px 100px 100px 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	display: none;
	height: 36px;
	opacity: 0.6;
	filter: alpha(opacity=60);
	position: fixed;
	right: 2%;
	/*text-indent: -9999px;*/
	top: 50%;
	width: 36px;
	z-index: 33;
}
.scrolltop span {
	position: relative;
	top: 7px;
	left: 10px;
}


#magic-line {
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100px;
	height: 2px;
	opacity:0.3;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 1%, #f9f9f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #FFF 90%,#171D29 10%)); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #FFF 90%,#171D29 10%)); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #FFF 90%,#171D29 10%)); /* IE10+ */
	background: linear-gradient(to bottom,  #FFF 90%,#171D29 10%)); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF', endColorstr='#171D29',GradientType=0 );
}

/** central */
#hero {
	padding-top: 50px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 1%, #f9f9f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 1%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 1%,#f9f9f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 1%,#f9f9f9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 1%,#f9f9f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
	height: auto;
	padding-bottom: 50px;
	border-bottom: 1px solid #d1d2d4;
	box-shadow: 0px 3px 8px 0px #e7e7e7;
}
#hero2 {
	padding-top: 50px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 1%, #f9f9f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 1%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 1%,#f9f9f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 1%,#f9f9f9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 1%,#f9f9f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
	height: auto;
	padding-bottom: 50px;
	border-bottom: 1px solid #d1d2d4;
	box-shadow: 0px 3px 8px 0px #e7e7e7;
}
#hero .carousel-control.left {
	left: 0px;
	padding-right: 1px;
}
#hero .carousel-control.right {
	right: 0px;
}
#hero .carousel-inner .item img {
	max-height: 349px;
}
#hero .carousel-inner .item.slide3 img {
	display: block;
	margin: 0 auto;
}
#hero .item h1 {
	font-size: 24px;
	font-weight: bolder;
	margin-top: 10px;
}
#hero .item p {
	font-size: 13px;
	color: #4E4E4E;
	line-height: 20px;
}
#hero .item .btn {
	margin-top: 10px;
	font-weight: bolder;
}
#intro {
	text-align: center;
	margin-top: 10px;
}
#intro h1 {
	width: 55%;
	font-size: 28px;
	margin: 0 auto;
	color: #252B34;
	font-weight: normal;
	font-style:italic;
	text-shadow: white 2px 2px 1px;
}



.section_header {
	text-align: center;
	font-weight: bolder;
	color: #252b34;
	margin-top: 20px;
	position: relative;
	margin-bottom: 20px;
}
.section_header.left span {
	margin-left: 0px;
	text-align: left;
}
.section_header hr {
	border-top: 1px solid #BEC0C3;
	border-bottom: 2px solid white;
	width: 36%;
	position: absolute;
}
.section_header hr.left { }
.section_header hr.right {
	right: 0px;
	top: 0px;
}
.section_header span {
	width: 27%;
	display: block;
	margin: 0 auto;
}
.section_header small {
	margin-left: 20px;
	font-size: 16px;
	color: #7f8387;
	display: none;
}

/** RESPONSIVEEE */

@media (min-width: 1200px) {
	.section_header small {
		display: inline-block;
	}
	#pricing .price_wrapper.lite {
		float: right;
		right: -30px;
	}
	#pricing .price_wrapper.standard {
		left: -30px;
	}
	#hero .carousel-inner .item.slide1 img {
		margin-left: 15px;
	}
	#hero .carousel-inner .item.slide1 .span6 {
		padding-left: 30px;
	}
		#hero .carousel-inner .item.slide2 .span6 {
		padding-left: 30px;
	}
	#hero .carousel-inner .item.slide2 .span6 img {
		margin-left: 15px;
	}
	#hero .item h1 {
		font-size: 30px;
		margin-top: 40px;
		margin-left: 20px;
	}
	#hero .item p {
		font-size: 16px;
		line-height: 24px;
		margin-left: 20px;
	}
	#hero .item .btn {
		margin-top: 25px;
		margin-left: 20px;
		font-size: 18px;
	}
}

 @media screen and (max-width: 48.063em) {
	.affix {
		position: relative;
	}
	#magic-line {
		display: none;
	}
	.hero-unit {
		padding: 30px;
		text-align: center;
	}
	.ca-item{
		height:450px;	
	}
	.ca-icon{
		background:transparent url(../images/productsp.png) no-repeat center center;
	}
	.ca-item-2 .ca-icon{
		background-image:url(../images/globep.png);
	}
	.ca-item-3 .ca-icon{
		background-image:url(../images/teamp.png);
	}
	.ca-item-4 .ca-icon{
		background-image:url(../images/red-sucursalesp.png);
	}
}

@media (min-width: 980px) {
	
	#hero .carousel-inner .item {
		padding: 0px 70px;
	}
	.ca-item{
		float:left;
		width:300px;	
	}
	
}
@media (max-width: 979px) {
	body {
		padding-top: 0px;
	}
	.section_header {
		margin-top: 60px;
	}
	.section_header small {
		display: none;
	}
	#hero .item h1 {
		font-size: 18px;
		line-height: 18px;
	}
	#hero .carousel-inner .item.slide2 img {
		margin-top: 20px;
	}
	.ca-item{
		float:left;
		width:280px;
	}
	
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	
	#intro h1 {
		width: 80%;
	}
	#footer .contact_us button[type="submit"] {
		margin-left: 0px;
	}
	#hero { }
	#hero .carousel-control.left {
		left: -55px;
	}
	#hero .carousel-control.right {
		right: -15px;
	}
	#hero .item .span4 {
		margin-left: 50px;
	}
	.ca-item{
		float:left;
		width:260px;
	}
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {	
	#intro h1 {
		width: 90%;
	}
	#hero {
		padding: 50px 20px 20px 20px;
		margin-right: -20px;
		margin-left: -20px;
		height: auto;
	}
	#hero .carousel-inner .item {
		padding: 0px 70px;
	}
	#hero .item img {
		/*display: none;*/
		width: 240px;
		display: block;
		margin: 0 auto;
	}
	#hero .carousel-inner .item .btn {
		font-size: 13px;
		padding: 7px 10px;
	}
	#footer {
		margin-right: -20px;
		margin-left: -20px;
	}

	#footer .container {
		padding: 0px 20px;
	}
	#footer .blog_post .img-circle {
		float: left;
		margin-right: 20px;
	}
	#footer .copyright .copy {
		float: left;
	}
	#footer .copyright .copy p {
		margin-top: 0px;
	}
	.ca-item{
		float:left;
		width:250px;
	}
		
}
/* Landscape phones and down */
@media (max-width: 480px) {
	
	#intro h1 {
		font-size: 22px;
		line-height: 30px;
	}
	.section_header {
		margin-top: 30px;
	}
	.section_header span {
		width: auto;
	}
	
}
}
